h1{
    font-size: 90px;
    color: royalblue;
    text-align: center;
}

p{
    font-size: 30px;
    color: royalblue;
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
}

._canvas{
    display: none;
    border-bottom:darkblue 5px solid;
    border-left: darkblue 5px solid;
    margin-left: 50px;
    position: absolute;
    top: 200px;
}

.pieChartCanvas{
    display: none;
    margin-left: 700px;
    top: 200px;
    position: absolute;
}

._dataTable{
    border: 3px blue solid;
    font-weight: bold;
    font-size: 30px;
    border-collapse: collapse;
    border-radius: 20px;
}

.selectorDiv{
    position: absolute;
    left: 620px;
    top:300px;
    margin-left: 950px;
}

.tableDiv{
    display: none;
    position: absolute;
    left: 300px;
    top: 900px;
}

th{
    border: blue 2px solid;
    font-size: 30px;
    color:royalblue;
}

td,tr{
    text-align: center;
    border: 2px blue solid;
    color: chocolate;
}

.dateSelector{
    color: royalblue;
    margin-right: 30px;
    font-size: 30px;
    font-weight: bold;
    width: auto;
}

select{
    color: royalblue;
    margin-right: 30px;
    font-size: 33px;
    font-weight: bold;
}

.button{
    display: none;
    color: royalblue;
    margin-right: 30px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.selector{
    margin-left: 100px;
    font-size: 30px;
    font-weight: bold;
}


