h1{
    font-size: 70px;
    color: red;
    text-align: center;
}


._canvas{
    /* border: red 1px solid; */
    border-bottom:darkblue 2px solid;
    border-left: darkblue 2px solid;
    /* width: 1000px; */
    /* height: 800px; */
    margin-left: 100px;
}

.dateSelector{
    margin-right: 30px;
    font-size: 30px;
    font-weight: bold;
}

.robotSelector{
    /* text-align: center; */
    /* margin: 0 auto; */
    margin-right: 30px;
    font-size: 33px;
    font-weight: bold;
}

.confirmButton{
    margin-right: 30px;
    font-size: 30px;
    font-weight: bold;
}
.selector{
    margin-left: 100px;
    font-size: 30px;
    font-weight: bold;
}


